<div class="container-fluid body">
  <div class="row header shadow-sm pt-4 bg-white">
    <div class="col-2">
      <img src="assets/images/filter.png" alt="">
    </div>
    <div class="col-8 text-center">
      <h3 class="font-color"> <img src="assets/images/heart.png" alt="">
        Muslim Match
      </h3>
    </div>
    <div class="col-2 text-end font-color">
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

  <div class="profieImgage">
    <div class="banner">
      <img src="https://picsum.photos/600/1000?image={{image}}" alt="">
    </div>

    <div class="staticIcon">
      <button mat-fab color="" (click)="reject(profile?.id, profile?.name)">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-fab class="bgcolor" matBadge="1" matBadgePosition="below">
        <mat-icon>chat</mat-icon>
      </button>
      <button mat-fab color="accent" (click)="interest(profile?.id, profile?.name)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <div class="mt-4 pb-2">
      <div class="fs-4 profileName">
        <span>{{profile?.name + ','}}</span>
        <span class="ageno">{{profile?.age}}</span>
        <span class="greencircle"></span>
      </div>
      <div class="fs-5 fw-light mt-3">
        <span>{{profile?.community + ','}}</span>
        <span class="ageno">{{profile?.height + ','}}</span>
        <span class="ageno">{{profile?.address}}</span>
      </div>
      <div class="fs-5 fw-light mt-3">
        <span>{{profile?.work + ','}}</span>
        <span class="ageno">{{profile?.degree + ','}}</span>
        <span class="ageno">{{profile?.country + ','}}</span>
        <span class="ageno">{{profile?.continent}}</span>
      </div>
    </div>

    <div class="dropdown-divider"></div>

    <div class="practise">
      <p>
        <img src="assets/images/temple.png" alt="">
        {{profile?.religion}}
      </p>
      <p>
        <img src="assets/images/ring.png" alt="">
        {{profile?.marriageDetails}}
      </p>
      <p>
        <img src="assets/images/flight.png" alt="">
        {{profile?.willingToAbroad}}
      </p>
      <p>
        <img src="assets/images/glass.png" alt="">
        {{profile?.consumeDrugs}}
      </p>
    </div>

    <div class="dropdown-divider"></div>

    <div class="about">
      <h3>About me</h3>
      <p>{{profile?.about}}</p>
    </div>

  </div>
  <div class="row footer">
    <ul>
      <li><img src="assets/images/home-select.png" alt="home"> Home</li>
      <li class="active"><img src="assets/images/chat.png" alt="chat">Matches</li>
      <li><img src="assets/images/intrest.png" alt="interests">Mailbox</li>
      <li><img src="assets/images/mutual.png" alt="mutual">Notifications</li>
      <li><img src="assets/images/menu.png" alt="menu">Search</li>
    </ul>
  </div>
</div>