
.font-color{
color:#61349B;
}
::ng-deep .mat-badge-content{
  color : white !important;
  background-color: #907DCC !important;
}
.bgcolor{
  background-color: #ECA20C;
}
.footer {
  z-index: 9;
  background: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.footer img {
  display: block;
  margin: 3px auto;
}
.footer ul {
  padding: 0;
  margin: 10px auto;
}
.footer li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 8px 0px 10px;
  font-size: 14px;
}
.staticIcon {
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: -25px;
  z-index: 9;
}
.staticIcon button {
  margin-right: 20px;
  outline: 0;
}
.banner img {
  width: 100%;
  padding: 0px 20px;
  margin-top: 77px;
}
.practise {
  padding-top: 20px;
  display: inline-block;
}
.practise p {
  padding-bottom: 20px;
  display: flex;
}
.practise img {
  margin-right: 15px;
}
.profileName {
  font-size: 24px;
  margin-top: 50px;
}
.header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}
.profieImgage {
  height: calc(100vh - 77px) !important;
  overflow-y: auto;
}
.about {
  padding-bottom: 40px;
  padding-top: 20px;
}
span.ageno {
  margin-left: 6px;
}
.greencircle{
  display: inline-block;
  position: relative;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background: #81b339;
  border-radius: 50%;
  top: -5px;
}

@media screen and (min-width: 1024px) {
  .banner img {
    width:20%
  }
  .text-end{ 
    text-align: end !important;
  }
  .body{
    text-align: center !important;
  }
  .staticIcon{
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: -25px;
    z-index: 9;
  }
}

@media screen and (max-width: 375px) {
  .staticIcon{
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: -72px;
    z-index: 9;
  }
}
